/* Add CSS Styling */
.positive-click-me,
.negative-click-me {
   font-size: 48px; 
   font-family: Helvetica, 'Times New Roman', sans-serif;
}

.negative-click-me {
    color: white;
    background-color: red;

}

.positive-click-me {
   color: black;
   background-color: white;
}