* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
  margin: 0 auto;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  margin-bottom: 16px ;
}

.button-container {
  background: #e3f4ff;
  padding: 15px;
  display: block;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}